<div id="header">
  <nav id="top" class="htop">
    <div class="container">
      <div class="row">
        <span class="drop-icon visible-sm visible-xs">
            <i class="fa fa-align-justify"></i>
        </span>
        <div class="flip left-top">
          <div class="links">
            <ul>
              {% if user.is_authenticated %}
              <li class="mobile">
                <i class="fa fa-phone"></i>Olá, {{user.username}}
              </li>
              {% else %}
              <li class="mobile">
                <i class="fa fa-phone"></i>Seja bem vindo, por favor logue-se na sua conta
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
        <div id="top-links" class="nav flip">
          <ul>
            {% if user.id is not None %}
            <li><a href="/profile"> {{user.first_name}} </a></li>
            <li><a href="/logout"> Sair </a></li>

            {% else %}
            <li><a href="/login/">Login</a></li>
            <li><a href="/signup/">Registrar</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
