 <aside id="column-right" class="col-sm-3 hidden-xs">
     <div class="list-group">
         <ul class="list-item">
             <li><a href="login.html">Login</a></li>
             <li><a href="/user/comments">Meus Comentários</a></li>
             <li><a href="/user/orders">Minhas compras</a></li>
             <li><a href="/user/request">pedidos</a></li>
             <li><a href="#">Address Books</a></li>
             <li><a href="wishlist.html">Wish List</a></li>
             <li><a href="#">Order History</a></li>
             <li><a href="#">Downloads</a></li>
             <li><a href="#">Reward Points</a></li>
             <li><a href="#">Returns</a></li>
             <li><a href="#">Transactions</a></li>
             <li><a href="#">Newsletter</a></li>
             <li><a href="#">Recurring payments</a></li>
         </ul>
     </div>
 </aside>