{% extends 'home.html' %}

{% block sidebar  %} {% include 'sidebar.html' %} {% endblock  %}
{% block header  %} {% include 'header.html' %} {% endblock  %}

{% block content  %}

<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-home"></i></a></li>
            <li><a href="cart.html">Shopping Cart</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
                <h1 class="title">Shopping Cart</h1>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td class="text-center">Nome</td>
                                <td class="text-left">Sobrenome</td>
                                <td class="text-left">Total</td>
                                <td class="text-left">Status</td>
                                <td class="text-right">Data</td>
                                <td class="text-right">Detalhes</td>
                                <td class="text-right">codigo</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in order %}
                            <tr>
                                <td class="text-center"> {{item.first_name}} </td>
                                <td class="text-left">{{item.last_name}}</td>
                                <td class="text-left">{{item.total}}</td>
                                <td class="text-left">{{item.status}}</td>
                                <td class="text-left">{{item.created_at|date:"d M, Y"}}</td>
                                <td><a class="primary-btn" href="/user/orderdetail/{{ rs.id }}"> Detalhe </a></td>
                                <td class="text-left">{{item.code}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Middle Part End -->
        </div>
    </div>
</div>

{% endblock  %}
{% block footer  %} {% include 'footer.html' %} {% endblock  %}