 <div id="container">
     <div class="container">
         <div class="row">
            <aside id="column-left" class="col-sm-3 hidden-xs">
                <h3 class="subtitle">Bestsellers</h3>
                <div class="side-item">
                    <div class="product-thumb clearfix">
                        <div class="image">
                            <a href="product.html"><img src="image/product/apple_cinema_30-50x50.jpg"
                                    alt="Brand Fashion Cotton T-Shirt" title="Brand Fashion Cotton T-Shirt"
                                    class="img-responsive" /></a>
                        </div>
                        <div class="caption">
                            <h4><a href="product.html">Brand Fashion Cotton T-Shirt</a></h4>
                            <p class="price"><span class="price-new">$110.00</span> <span
                                    class="price-old">$122.00</span> <span class="saving">-10%</span></p>
                        </div>
                    </div>
                    <div class="product-thumb clearfix">
                        <div class="image">
                            <a href="product.html"><img src="image/product/iphone_1-50x50.jpg" alt="iPhone5"
                                    title="iPhone5" class="img-responsive" /></a>
                        </div>
                        <div class="caption">
                            <h4><a href="product.html">iPhone5</a></h4>
                            <p class="price"> $123.20 </p>
                            <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
                                        class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i
                                        class="fa fa-star fa-stack-2x"></i><i
                                        class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i
                                        class="fa fa-star fa-stack-2x"></i><i
                                        class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i
                                        class="fa fa-star fa-stack-2x"></i><i
                                        class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i
                                        class="fa fa-star-o fa-stack-2x"></i></span></div>
                        </div>
                    </div>
                    <div class="product-thumb clearfix">
                        <div class="image">
                            <a href="product.html"><img src="image/product/macbook_1-50x50.jpg"
                                    alt="Ideapad Yoga 13-59341124 Laptop" title="Ideapad Yoga 13-59341124 Laptop"
                                    class="img-responsive" /></a>
                        </div>
                        <div class="caption">
                            <h4><a href="product.html">Ideapad Yoga 13-59341124 Laptop</a></h4>
                            <p class="price"> $2.00 </p>
                            <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
                                        class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i
                                        class="fa fa-star fa-stack-2x"></i><i
                                        class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i
                                        class="fa fa-star fa-stack-2x"></i><i
                                        class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i
                                        class="fa fa-star fa-stack-2x"></i><i
                                        class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i
                                        class="fa fa-star-o fa-stack-2x"></i></span> </div>
                        </div>
                    </div>
                    <div class="product-thumb clearfix">
                        <div class="image">
                            <a href="product.html"><img src="image/product/sony_vaio_1-50x50.jpg"
                                    alt="Xitefun Causal Wear Fancy Shoes" title="Xitefun Causal Wear Fancy Shoes"
                                    class="img-responsive" /></a>
                        </div>
                        <div class="caption">
                            <h4><a href="product.html">Xitefun Causal Wear Fancy Shoes</a></h4>
                            <p class="price"> <span class="price-new">$902.00</span> <span
                                    class="price-old">$1,202.00</span> <span class="saving">-25%</span> </p>
                            <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
                                        class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i
                                        class="fa fa-star fa-stack-2x"></i><i
                                        class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i
                                        class="fa fa-star fa-stack-2x"></i><i
                                        class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i
                                        class="fa fa-star fa-stack-2x"></i><i
                                        class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i
                                        class="fa fa-star-o fa-stack-2x"></i></span> </div>
                        </div>
                    </div>
                    <div class="product-thumb clearfix">
                        <div class="image">
                            <a href="product.html"><img src="image/product/FinePix-Long-Zoom-Camera-50x50.jpg"
                                    alt="FinePix S8400W Long Zoom Camera" title="FinePix S8400W Long Zoom Camera"
                                    class="img-responsive" /></a>
                        </div>
                        <div class="caption">
                            <h4><a href="product.html">FinePix S8400W Long Zoom Camera</a></h4>
                            <p class="price">$122.00</p>
                        </div>
                    </div>
                </div>
            </aside>
             <div id="content" class="col-sm-9">
                 <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="https://cdn.pixabay.com/photo/2022/01/31/12/46/bird-6983434_960_720.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="https://cdn.pixabay.com/photo/2022/01/31/12/46/bird-6983434_960_720.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="https://cdn.pixabay.com/photo/2022/01/31/12/46/bird-6983434_960_720.jpg" class="d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                 <h3 class="subtitle">Livros mais vendidos - <a class="viewall" href="category.html">view all</a></h3>
                 <div class="owl-carousel latest_category_carousel">
                     {% for item in books_latest %}
                     <div class="product-thumb">
                         <div class="image">
                             <a href="{% url 'book:book_detail' item.id item.slug %}"><img src="{{item.image.url}}"
                                     alt="Hair Care Cream for Men" title="Hair Care Cream for Men"
                                     class="img-responsive" /></a>
                         </div>
                         <div class="caption">
                             <h4><a href="/book/{{item.id}}/{{item.slug}}">{{item.title}}</a></h4>
                             <p class="price"> R$ {{item.price}} </p>
                             <div class="rating">
                                 <span class="fa fa-stack">
                                     <i class="fa fa-star{% if item.avaregereview < 1%}-o {% endif %}"></i>
                                 </span>
                                 <span class="fa fa-stack">
                                     <i class="fa fa-star{% if item.avaregereview < 2%}-o {% endif %}"></i>
                                 </span>
                                 <span class="fa fa-stack">
                                     <i class="fa fa-star{% if item.avaregereview < 3%}-o {% endif %}"></i>
                                 </span>
                                 <span class="fa fa-stack">
                                     <i class="fa fa-star{% if item.avaregereview < 4%}-o {% endif %}"></i>
                                 </span>
                                 <span class="fa fa-stack">
                                     <i class="fa fa-star{% if item.avaregereview < 5%}-o {% endif %}"></i>
                                 </span>
                             </div>
                             <h4><a href="product.html">Hair Care Cream for Men</a></h4>
                             <p class="price"> $134.00 </p>
                             <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
                                         class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i
                                         class="fa fa-star fa-stack-2x"></i><i
                                         class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i
                                         class="fa fa-star fa-stack-2x"></i><i
                                         class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i
                                         class="fa fa-star fa-stack-2x"></i><i
                                         class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i
                                         class="fa fa-star fa-stack-2x"></i><i
                                         class="fa fa-star-o fa-stack-2x"></i></span> </div>
                         </div>
                         <div class="button-group">
                             <button class="btn-primary" type="button" onClick=""><span>Add to
                                     Cart</span></button>
                             <div class="add-to-links">
                                 <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i
                                         class="fa fa-heart"></i></button>
                                 <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i
                                         class="fa fa-exchange"></i></button>
                             </div>
                         </div>
                     </div>
                     {% endfor %}
                 </div>
                <h3 class="subtitle">Livros recentes - <a class="viewall" href="category.html">view all</a></h3>
                 <div class="owl-carousel latest_category_carousel">
                     {% for item in books_latest %}
                     <div class="product-thumb">
                         <div class="image">
                             <a href="{% url 'book:book_detail' item.id item.slug %}"><img src="{{item.image.url}}"
                                     alt="Hair Care Cream for Men" title="Hair Care Cream for Men"
                                     class="img-responsive" /></a>
                         </div>
                         <div class="caption">
                             <h4><a href="/book/{{item.id}}/{{item.slug}}">{{item.title}}</a></h4>
                             <p class="price"> R$ {{item.price}} </p>
                             <div class="rating">
                                 <span class="fa fa-stack">
                                     <i class="fa fa-star{% if item.avaregereview < 1%}-o {% endif %}"></i>
                                 </span>
                                 <span class="fa fa-stack">
                                     <i class="fa fa-star{% if item.avaregereview < 2%}-o {% endif %}"></i>
                                 </span>
                                 <span class="fa fa-stack">
                                     <i class="fa fa-star{% if item.avaregereview < 3%}-o {% endif %}"></i>
                                 </span>
                                 <span class="fa fa-stack">
                                     <i class="fa fa-star{% if item.avaregereview < 4%}-o {% endif %}"></i>
                                 </span>
                                 <span class="fa fa-stack">
                                     <i class="fa fa-star{% if item.avaregereview < 5%}-o {% endif %}"></i>
                                 </span>
                             </div>
                             <h4><a href="product.html">Hair Care Cream for Men</a></h4>
                             <p class="price"> $134.00 </p>
                             <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
                                         class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i
                                         class="fa fa-star fa-stack-2x"></i><i
                                         class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i
                                         class="fa fa-star fa-stack-2x"></i><i
                                         class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i
                                         class="fa fa-star fa-stack-2x"></i><i
                                         class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i
                                         class="fa fa-star fa-stack-2x"></i><i
                                         class="fa fa-star-o fa-stack-2x"></i></span> </div>
                         </div>
                         <div class="button-group">
                             <button class="btn-primary" type="button" onClick=""><span>Add to
                                     Cart</span></button>
                             <div class="add-to-links">
                                 <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i
                                         class="fa fa-heart"></i></button>
                                 <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i
                                         class="fa fa-exchange"></i></button>
                             </div>
                         </div>
                     </div>
                     {% endfor %}
                 </div>
             </div>
         </div>
     </div>
 </div>