{% extends 'extends.html' %}
{% load static %}

{% block sidebar %} {% include 'base/sidebar.html' %} {% endblock %}
{% block header %} {% include 'base/navbar.html' %} {% endblock %}

{% block content %}

<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-3">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">

                    {% if request.user.is_superuser %}
                    <h1>SuperUsuario</h1>
                    {% endif %}

                    <h4 class="font-weight-semi-bold m-0">Dashboard</h4>
                </div>
                <div class="card-body">
                    <h5 class="font-weight-medium mb-3">Perfil</h5>
                    <div class="d-flex">
                        <p>Atualizar usuario</p>
                    </div>
                    <div class="d-flex">
                        <p>Atualizar senha</p>
                    </div>
                    <hr class="mt-1">
                    <div class="d-flex">
                        <p>Colorful Stylish Shirt 2</p>
                    </div>
                    <div class="d-flex">
                        <p>Colorful Stylish Shirt 3</p>
                    </div>

                </div>
            </div>
        </div>
    </div>


    {% endblock %}
    {% block footer %} {% include 'base/footer.html' %} {% endblock %}
    {% block dependencies %} {% include 'components/dependecies.html' %} {% endblock %}