{% extends 'extends.html' %}
{% load static %}

{% block sidebar %} {% include 'base/sidebar.html' %} {% endblock %}
{% block content %}

<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        {% block dashboard_nav %} {% include 'components/dashboard_nav.html' %} {% endblock %}
        <div class="col-lg-10 table-responsive mb-5">
            <form id="form-book-create" method="POST">
                {% csrf_token %}
                {% block form_book %} {% include 'components/form_book.html' %} {% endblock %}

                <button type="submit" class="btn btn-primary">Update book</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}


{% block dependencies %}
{% include 'components/dependecies.html' %}

<script src="{% static 'js/services/books.js' %}"></script>
{% endblock %}
