{% extends 'extends.html' %}

{% block sidebar %} {% include 'base/sidebar.html' %} {% endblock %}
{% block header %} {% include 'base/navbar.html' %} {% endblock %}

{% block content %}
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Categoria: {{genre.title}}</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        {% for book in books %}
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">

                    {% if book.image %}
                    <img class="img-fluid w-100" src="{{book.image.url}}" alt="">
                    {% else %}
                    <img class="img-fluid w-100" src="{{book.image}}" alt="">
                    {% endif %}

                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">{{book.title}}</h6>
                    <div class="d-flex justify-content-center">
                        <h6>${{book.price}}</h6>
                        <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="{% url 'book:book_detail' book.id %}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Veja mais detalhes</a>
                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Adicione ao carrinho</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block back_top %} {% include 'base/back_top.html' %} {% endblock %}
{% block footer %} {% include 'base/footer.html' %} {% endblock %}