{% extends 'extends.html' %}
{% load static %}

{% block sidebar %} {% include 'base/sidebar.html' %} {% endblock %}
{% block content %}

<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        {% block dashboard_nav %} {% include 'components/dashboard_nav.html' %} {% endblock %}
        <div class="col-lg-10 table-responsive mb-5">
            <form id="form-coupon-update" method="PUT">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{coupon.id}}">
                {% block form_coupon %} {% include 'components/form_coupon.html' %} {% endblock %}

                <button type="submit" class="btn btn-primary">Update Coupon</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}


{% block dependencies %}
{% include 'components/dependecies.html' %}

<script src="{% static 'js/services/coupons.js' %}"></script>
{% endblock %}
