{% extends "base.html" %}
{% block title %}Virgil Bookstore - Cart{% endblock %}
{% block content %}
    <main class="container mx-auto px-4 py-8">

        <h1 class="text-3xl font-bold text-gray-900 mb-8">Your cart</h1>

        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
            <div id="cart-items" class="lg:col-span-2 space-y-4">
                {% for item in shopcart %}
                    {% include "pages/orders/cart/cart_item.html" with shopcart=item %}
                {% empty %}
                    {% include "pages/orders/cart/partials/_cart_empty.html" %}
                {% endfor %}
            </div>

            <div id="cart-summary" class="lg:col-span-1">
                {% if shopcart %}
                    {% include 'pages/orders/cart/cart_summary.html' %}
                {% else %}
                    {% include 'pages/orders/cart/partials/_cart_summary_empty.html' %}
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
