{% load vite %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% vite_asset 'index.html' %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo/logo.ico' %}">

    {% block extra_head %}{% endblock %}
</head>
<body class="bg-gray-50 smooth-scroll min-h-screen flex flex-col">
<!-- Header -->
{% include 'partials/_header.html' %}
{% block content %}{% endblock %}
{% include 'partials/_footer.html' %}
</body>
</html>
