<div class="col-lg-2">
    <div class="card border-secondary">
        <div class="card-header bg-secondary border-0">
            <h4 class="font-weight-semi-bold m-0">
                <a href="{% url 'user:dashboard' %}">Dashboard</a>
            </h4>
        </div>
        <div class="card-body">
            <h5 class="font-weight-medium mb-3">Profile</h5>
            <div class="d-flex">
                <a href="{% url 'user:update_profile' %}">Update Profile</a>
            </div>
            <div class="d-flex">
                <a href="{% url 'user:update_password' %}">Update Password</a>
            </div>
            <hr class="mt-1">
            {% if request.user.is_superuser %}
            <h5 class="font-weight-medium mb-3">Books</h5>
            <div class="d-flex">
                <a href="{% url 'book:books' %}">Books</a>
            </div>

            <hr class="mt-1">
            <h5 class="font-weight-medium mb-3">Accounts</h5>
            <div class="d-flex">
                <a href="{% url 'user:accounts' %}">Accounts</a>
            </div>
            <hr class="mt-1">
            {% endif %}
            <div class="d-flex">
                <a href="{% url 'user:logout' %}">Logout</a>
            </div>
        </div>
    </div>
</div>