<div class="col-lg-10 table-responsive mb-5">
    <div class="d-flex flex-row-reverse mb-2">
        <a href="{% url 'market:coupon_add' %}" class="btn btn-primary col-4 ml-2">Add Coupons</a>
    </div>
    <table class="table table-bordered text-center mb-0">
        <thead class="bg-secondary text-dark">
            <tr>
                <th>Name</th>
                <th>Discount</th>
                <th>Active</th>
                <th>Creation Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="align-middle">
            {% for coupon in object_list %}
            <tr>
                <td class="align-middle">{{coupon.name}}</td>
                <td class="align-middle">{{coupon.discount}}</td>
                <td class="align-middle">
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input input-coupon-active" id={{coupon.id}} {% if coupon.is_active %} checked {% endif %}>
                    </div>
                </td>
                <td class="align-middle">{{coupon.created_at}}</td>
                <td class="align-middle">
                    <button class="btn btn-sm btn-primary remove-discount" id="{{coupon.id}}" value="{{coupon.id}}"><i class="fa fa-trash"></i></button>
                    <a class="btn btn-sm btn-primary update-discount" href="{% url 'market:coupon_update' coupon.id %}"><i class="fa fa-pen"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
