<div class="col-lg-10 table-responsive mb-5">
    <div class="d-flex flex-row-reverse mb-2">
        <a href="{% url 'book:book_add' %}" class="btn btn-primary col-4 ml-2">Add Book</a>
        <button class="btn btn-primary col-2 button-export-csv ">Export CSV</button>
    </div>
    <table class="table table-bordered text-center mb-0">
        <thead class="bg-secondary text-dark">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Creation Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="align-middle">
            {% for book in books %}
            <tr>
                <td class="align-middle">{{book.id}}</td>
                <td class="align-middle">{{book.title}}</td>
                <td class="align-middle">{{book.price}}</td>
                <td class="align-middle">{{book.amount}}</td>
                <td class="align-middle">{{book.created_at}}</td>
                <td class="align-middle">
                    <button class="btn btn-sm btn-primary remove-book" id="{{book.id}}" value="{{book.id}}"><i class="fa fa-trash"></i></button>
                    <button class="btn btn-sm btn-primary update-book" id={{book.id}} value="{{book.id}}"><i class="fa fa-pen"></i></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>