{% extends 'base/home.html' %}

{% block sidebar  %} {% include 'base/sidebar.html' %} {% endblock  %}
{% block header  %} {% include 'base/header.html' %} {% endblock  %}

{% block content  %}

<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-home"></i></a></li>
            <li><a href="cart.html">Shopping Cart</a></li>
            <li><a href="checkout.html">Checkout</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
                <h1 class="title">Checkout</h1>
                <div class="row">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><i class="fa fa-user"></i> Your Personal Details</h4>
                                </div>
                                <div class="panel-body">
                                    <fieldset id="account">
                                        <div class="form-group required">
                                            <label for="input-payment-firstname" class="control-label">Nome</label>
                                            <input type="text" class="form-control" name="first_name"
                                                id="input-payment-firstname" placeholder="First Name"
                                                value="{{ user.first_name }}">
                                        </div>
                                        <div class="form-group required">
                                            <label for="input-payment-lastname" class="control-label">Sobrenome</label>
                                            <input type="text" class="form-control" id="input-payment-lastname"
                                                placeholder="Last Name" name="last_name" value="{{ user.last_name }}">
                                        </div>
                                        <div class="form-group required">
                                            <label for="input-payment-telephone" class="control-label">Telefone</label>
                                            <input type="text" class="form-control" id="input-payment-telephone"
                                                maxlength="15" placeholder="Telephone" value="{{ profile.phone }}"
                                                name="phone">
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><i class="fa fa-book"></i> Your Address</h4>
                                </div>
                                <div class="panel-body">
                                    <fieldset id="address" class="required">
                                        <div class="form-group required">
                                            <label for="input-payment-address-1" class="control-label">Endereço</label>
                                            <input type="text" class="form-control" id="input-payment-address-1"
                                                placeholder="Address 1" name="address" value="{{ profile.address }}">
                                        </div>
                                        <div class="form-group required">
                                            <label for="input-payment-address-1" class="control-label">Cidade</label>
                                            <input type="text" class="form-control" id="input-payment-address-1"
                                                value="{{ profile.city }}" name="city">
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" checked="checked" value="1"
                                                    name="shipping_address">
                                                My delivery and billing addresses are the same.</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><i class="fa fa-shopping-cart"></i> Carrinho de
                                                compras
                                            </h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <td class="text-center">Image</td>
                                                            <td class="text-left">Product Name</td>
                                                            <td class="text-left">Quantity</td>
                                                            <td class="text-right">Unit Price</td>
                                                            <td class="text-right">Total</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for item in shopcart  %}
                                                        <tr>
                                                            <td class="text-center">
                                                                <a href="product.html"><img
                                                                        src="{{item.book.image.url}}"
                                                                        alt="Xitefun Causal Wear Fancy Shoes"
                                                                        title="Xitefun Causal Wear Fancy Shoes"
                                                                        width="100" class="img-thumbnail"></a>
                                                            </td>
                                                            <td class="text-left"><a
                                                                    href="/book/{{item.book.id}}/{{item.book.slug}}">
                                                                    {{item.book.title}} </a></td>
                                                            <td class="text-left"> {{item.quantity}} </td>
                                                            <td class="text-right">R$ {{item.price|floatformat:-2}}
                                                            </td>
                                                            <td class="text-right">R$ {{item.amount|floatformat:-2}}
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td class="text-right" colspan="4"><strong>Total:</strong>
                                                            </td>
                                                            <td class="text-right">R$ {{total|floatformat:-2}}</td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><i class="fa fa-pencil"></i> Add Comments About Your
                                                Order</h4>
                                        </div>
                                        <div class="panel-body">
                                            <textarea rows="4" class="form-control" name="" id="confirm_comment"
                                                name="comments"></textarea>
                                            <br>
                                            <label class="control-label" for="confirm_agree">
                                                <input type="checkbox" checked="checked" value="1" required=""
                                                    class="validate required" id="confirm_agree" name="confirm agree">
                                                <span>I have read and agree to the <a class="agree" href="#"><b>Terms
                                                            &amp;
                                                            Conditions</b></a></span> </label>
                                            <div class="buttons">
                                                <div class="pull-right">
                                                    <button type="submit" class="primary-btn">Complete Order</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <!--Middle Part End -->
        </div>
    </div>
</div>



{% endblock  %}
{% block footer  %} {% include 'base/footer.html' %} {% endblock  %}