{% extends 'base/home.html' %}

{% block sidebar  %} {% include 'base/sidebar.html' %} {% endblock  %}
{% block header  %} {% include 'base/header.html' %} {% endblock  %}

{% block content  %}

<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-home"></i></a></li>
            <li><a href="cart.html">Carrinho de compras</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
                <h1 class="title">Carrinho de compras</h1>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td class="text-center">Imagem</td>
                                <td class="text-left">Título</td>
                                <td class="text-left">Model</td>
                                <td class="text-left">Quantidade</td>
                                <td class="text-right">Preço</td>
                                <td class="text-right">Total</td>
                                <td class="text-right">Deletar livro</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in shopcart %}
                            <tr>
                                <td class="text-center">
                                    <a href="product.html"><img src="{{item.book.image.url}}"
                                            alt="Xitefun Causal Wear Fancy Shoes" width="100" title="{{item.title}}"
                                            class="img-thumbnail" /></a>
                                </td>
                                <td class="text-left"><a href="/book/{{item.book.id}}/{{item.book.slug}}">
                                        {{item.book.title}}
                                    </a></td>
                                <td class="text-left">{{item.genre}}</td>
                                <td class="text-left">{{item.quantity}}</td>
                                <td class="text-right">R$ {{item.price|floatformat:-2}}</td>
                                <td class="text-right">$ {{item.amount|floatformat:-2}}</td>
                                <td class="text-center">
                                    <div class="input-group btn-block quantity">
                                        <span class="input-group-btn">
                                            <a href="/order/deletefromcart/{{ item.id }}" class="btn btn-danger"
                                                onclick="return confirm('Delete ! Are you sure?')"><i
                                                    class="fa fa-times-circle"></i></a>
                                        </span></div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <table class="table table-bordered">
                            <tr>
                                <td class="text-right"><strong>Total:</strong></td>
                                <td class="text-right">R$ {{total|floatformat:-2}}</td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="buttons">
                    <div class="pull-left"><a href="/" class="btn btn-default">Continue Shopping</a></div>
                    <div class="pull-right"><a href="/order/orderbook" class="btn btn-primary">Checkout</a></div>
                </div>
            </div>
            <!--Middle Part End -->
        </div>
    </div>
</div>

{% endblock  %}
{% block footer  %} {% include 'base/footer.html' %} {% endblock  %}