
{% extends 'base/home.html' %}

{% block sidebar  %} {% include 'base/sidebar.html' %} {% endblock  %}

{% block content  %}

<div class="container">
    <div class="row">
        <div id="content" class="col-sm-12">
            <div class="row d-flex justify-content-center mt-5">
                <div class="col-sm-6">
                    <h2 class="subtitle">Entre com sua conta</h2>
                    <form action="" method="POST">
                        {% csrf_token %}
                        
                        <div class="input-group input-group-sm mb-3">
                            <label for="exampleFormControlInput1" class="form-label">{{form.username.label}}</label>
                            {{form.username}}
                        </div> 
                        <div class="input-group input-group-sm mb-3">
                            <label for="exampleFormControlInput1" class="form-label">{{form.password.label}}</label>
                            {{form.password}}
                        </div>                      
                     

                        <a href="#">Esqueci minha senha</a>
                        
                        <div class="d-grid gap-2 mt-2">
                            <button class="btn btn-primary" type="submit">Login</button>
                        </div>
                    </div>
                    </form>
                   
                </div>
                
            </div>
        </div>
    </div>
</div>


{% endblock  %}
{% block footer  %} {% include 'base/footer.html' %} {% endblock  %}