
{% extends 'base/home.html' %}

{% block sidebar  %} {% include 'base/sidebar.html' %} {% endblock  %}
{% block header  %} {% include 'base/header.html' %} {% endblock  %}

{% block content  %}

<div class="container">

    <ul class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i></a></li>
        <li><a href="/login">Login</a></li>
    </ul>
    {% if messages %}
    {% for message in messages  %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    {% endif %}
    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-9">
            <h1 class="title">Account Login</h1>
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="subtitle">New Customer</h2>
                    <p><strong>Register Account</strong></p>
                    <p>By creating an account you will be able to shop faster, be up to date on an order's status,
                        and keep track of the orders you have previously made.</p>
                    <a href="/signup" class="btn btn-primary">Continue</a>
                </div>
                <div class="col-sm-6">
                    <h2 class="subtitle">Returning Customer</h2>
                    <p><strong>I am a returning customer</strong></p>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label" for="input-email">Username</label>
                            <input type="text" name="username" value="" placeholder="E-Mail Address" id="input-email"
                                class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-password">Password</label>
                            <input type="password" name="password" value="" placeholder="Password" id="input-password"
                                class="form-control" />
                            <br />
                            <a href="#">Esqueci minha senha</a>
                        </div>
                        <input type="submit" value="Login" class="btn btn-primary btn-lg btn-block" /> 
                        <p class="text-center">ou</p>
                         <div class="mb-5">
                    </div>
                    </form>
                   
                </div>
                
            </div>
        </div>
    </div>
</div>


{% endblock  %}
{% block footer  %} {% include 'base/footer.html' %} {% endblock  %}