{% extends 'base/home.html' %}
{% block title %} VirgilStore - {{user.first_name}} {% endblock  %}
{% block sidebar  %} {% include 'base/sidebar.html' %} {% endblock  %}
{% block header  %} {% include 'base/header.html' %} {% endblock  %}

{% block content  %}
<div class="container">
    <div class="row">
        <h3 class="subtitle">Bem vindo, {{user.first_name}}</h3>
        {% block menu  %} {% include 'user/menu.html' %} {% endblock  %}

    </div>
</div>

{% endblock  %}
{% block footer  %} {% include 'base/footer.html' %} {% endblock  %}