{% extends 'extends.html' %}
{% load static %}

{% block sidebar %} {% include 'base/sidebar.html' %} {% endblock %}
{% block content %}

<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        {% block dashboard_nav %} {% include 'components/dashboard_nav.html' %} {% endblock %}
        <div class="col-lg-8 table-responsive mb-5">
            <div class="control-group">
                <label class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" placeholder="Sua senha" name="password" required="required" />
                <p class="help-block text-danger"></p>
            </div>
            <button class="btn btn-primary col-12 button-update-password" type="submit">Atualizar senha</button>
        </div>
    </div>
</div>
{% endblock content %}

{% block dependencies %}
{% include 'components/dependecies.html' %}
<script src="{% static 'js/services/user.js' %}"></script>

{% endblock %}
